<?xml version="1.0"?>
<configuration>

  <configSections>
         <section name="deviceNoSettings" type="System.Configuration.NameValueSectionHandler"/>
         <section name="partNoSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

 
  <appSettings>
           
    <add key="PortName" value="COM7"/>
    <add key="BaudRate" value="115200"/>
    <add key="DataBits" value="8"/>
    <add key="Parity" value="0"/>
    <add key="StopBits" value="0"/>
    <add key="DeviceID" value="1"/>
    <add key="UpperRange" value="10"/>
    <add key="LowRange" value="0"/>
    <add key="ChannelNum" value="4"/>
    <add key="LoopTime" value="100"/>
    <add key="Analog1" value="0"/>
    <add key="Analog2" value="1"/>
    <add key="IsLog" value="1"/>
	<add key="PLCIP" value="192.168.1.10"/>
	<add key="LocalIP" value="192.168.1.10"/>
	<add key="PLCPort" value="9600"/>
	<add key="LocalPort" value="8080"/>
  </appSettings>

  <deviceNoSettings>
    <add key="PNLTJZKJ001#" value="DLAR02000270"/>
   
  </deviceNoSettings>

  <partNoSettings>
    <add key="F0AP3459B0A000E" value="1"/>
    <add key="F0AP5708C0A000B" value="2"/>
  </partNoSettings>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
